/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PredexonCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as data from "../models/data/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PredexonError } from "../models/errors/predexon-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { PolymarketListMarketsServerList } from "../models/operations/polymarket-list-markets.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Markets
 *
 * @remarks
 * List markets with filtering and sorting.
 *
 * Consolidates active and closed markets into a single endpoint.
 * Use status=open for active markets only.
 *
 * Rolling metrics (volume_1d/7d/30d, trades, OI) are refreshed hourly.
 *
 * If set, this operation will use {@link Security.dataApiKey} from the global security.
 */
export function polymarketListMarkets(
  client: PredexonCore,
  request?: operations.PolymarketListMarketsRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    data.PolymarketMarketsResponse,
    | data.HTTPValidationError
    | PredexonError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PredexonCore,
  request?: operations.PolymarketListMarketsRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      data.PolymarketMarketsResponse,
      | data.HTTPValidationError
      | PredexonError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(operations.PolymarketListMarketsRequest$outboundSchema),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const baseURL = options?.serverURL
    || pathToFunc(PolymarketListMarketsServerList[0], {
      charEncoding: "percent",
    })();

  const path = pathToFunc("/v2/polymarket/markets")();

  const query = encodeFormQuery({
    "condition_id": payload?.condition_id,
    "end_after": payload?.end_after,
    "end_before": payload?.end_before,
    "event_slug": payload?.event_slug,
    "limit": payload?.limit,
    "market_id": payload?.market_id,
    "market_slug": payload?.market_slug,
    "max_price": payload?.max_price,
    "min_open_interest": payload?.min_open_interest,
    "min_price": payload?.min_price,
    "min_trades_1d": payload?.min_trades_1d,
    "min_trades_30d": payload?.min_trades_30d,
    "min_trades_7d": payload?.min_trades_7d,
    "min_volume": payload?.min_volume,
    "min_volume_1d": payload?.min_volume_1d,
    "min_volume_30d": payload?.min_volume_30d,
    "min_volume_7d": payload?.min_volume_7d,
    "offset": payload?.offset,
    "predexon_id": payload?.predexon_id,
    "question_id": payload?.question_id,
    "search": payload?.search,
    "sort": payload?.sort,
    "status": payload?.status,
    "tags": payload?.tags,
    "token_id": payload?.token_id,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: baseURL ?? "",
    operationID: "polymarketListMarkets",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: baseURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    data.PolymarketMarketsResponse,
    | data.HTTPValidationError
    | PredexonError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, data.PolymarketMarketsResponse$inboundSchema),
    M.jsonErr(422, data.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
