/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PredexonCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as data from "../models/data/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PredexonError } from "../models/errors/predexon-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { PolymarketGetSimilarWalletsServerList } from "../models/operations/polymarket-get-similar-wallets.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Similar Wallets
 *
 * @remarks
 * Find wallets with similar market portfolios (copy-trade detection).
 *
 * **Use Case:**
 * - Find wallets that trade similar markets to a target wallet
 * - Detect potential copy-trading patterns
 * - Discover traders with similar strategies
 *
 * **How it works:**
 * 1. Get all markets the target wallet has traded
 * 2. Find other wallets that traded the same markets
 * 3. Rank by overlap percentage and count
 *
 * If set, this operation will use {@link Security.dataApiKey} from the global security.
 */
export function polymarketGetSimilarWallets(
  client: PredexonCore,
  request: operations.PolymarketGetSimilarWalletsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    data.WalletSimilarityResponse,
    | errors.DataErrorResponse
    | data.HTTPValidationError
    | PredexonError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PredexonCore,
  request: operations.PolymarketGetSimilarWalletsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      data.WalletSimilarityResponse,
      | errors.DataErrorResponse
      | data.HTTPValidationError
      | PredexonError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.PolymarketGetSimilarWalletsRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const baseURL = options?.serverURL
    || pathToFunc(PolymarketGetSimilarWalletsServerList[0], {
      charEncoding: "percent",
    })();

  const pathParams = {
    wallet: encodeSimple("wallet", payload.wallet, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/v2/polymarket/wallet/{wallet}/similar")(pathParams);

  const query = encodeFormQuery({
    "limit": payload.limit,
    "min_overlap_markets": payload.min_overlap_markets,
    "min_overlap_pct": payload.min_overlap_pct,
    "pagination_key": payload.pagination_key,
    "window": payload.window,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: baseURL ?? "",
    operationID: "polymarketGetSimilarWallets",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: baseURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    data.WalletSimilarityResponse,
    | errors.DataErrorResponse
    | data.HTTPValidationError
    | PredexonError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, data.WalletSimilarityResponse$inboundSchema),
    M.jsonErr([400, 404], errors.DataErrorResponse$inboundSchema),
    M.jsonErr(422, data.HTTPValidationError$inboundSchema),
    M.jsonErr(503, errors.DataErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
